<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>{{ page.title }}</title>

    <meta name="apple-mobile-web-app-title" content="RxLeanCloud">
    <link rel="icon" type="image/png" href="{{ site.baseUrl }}/img/favicon/rxleancloud.png?v=2">
    <meta name="msapplication-TileColor" content="#5298fc">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="application-name" content="RxLeanCloud">

    <meta name="theme-color" content="#5298fc">

    <!-- CSS -->
    <!-- build:css -->
    <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/default.min.css"> -->
    <link href="{{ site.baseurl }}/css/docs.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" rel="stylesheet" />
    <!-- endbuild -->

    <!--[if lte IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
      <![endif]-->

    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.2/anchor.js"></script>
    <!--[if lt IE 8]>
      <link rel="stylesheet" type="text/css" href="/stylesheets/ie7.css" />
  <![endif]-->
    <!--[if IE 8]>
      <link rel="stylesheet" type="text/css" href="/stylesheets/ie8.css" />
  <![endif]-->
    <!--[if lt IE 10]>
      <link rel="stylesheet" type="text/css" href="/stylesheets/ie89.css" />
  <![endif]-->
    <script>if (Function('/*@cc_on return document.documentMode===10@*/')()) { document.documentElement.className += ' ie10'; }</script>

    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="KxDoKysxiXDIRV8VXwDYlQStDGzjbGZ24y6ZgQLYAsE=">
    <meta name="description" content="Focus on creating unique &amp; engaging apps on any platform. We take care of everything else your app needs, from the core of your app to analytics and push notifications.">
    <meta name="keywords" content="backend, mobile, development, server, code">
    <meta property="fb:app_id" content="361736430535656">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Parse">
    <meta property="og:image" content="https://docs.parseplatform.org/assets/images/social.jpg">
    <meta property="og:description" content="Focus on creating unique &amp; engaging apps on any platform. We take care of everything else your app needs, from the core of your app to analytics and push notifications.">
    <meta property="og:url" content="{{ page.url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>